@import 'style.scss';
header {
    display: flex;
    margin: 2vw;
    text-align: center;
    overflow: hidden;
    h1 {  position: relative;
        p { font-size: 45px; color: #707070; }
    }
    button {
        width: 40px;
        height: 40px;
        border-radius: 0px;
        background: linear-gradient(145deg, #f6ffff, #cfd8e6);
        box-shadow: 4px 4px 8px #c4ccd9, -4px -4px 8px #ffffff;
    }
}
.marquee-wrap {
    width: calc(100% - 104px);
    overflow: hidden;
    .marquee {
        display: inline-block;
        width: 33.3333%;
        padding-left: 100%;
        white-space: nowrap;
        animation: 10s marquee linear infinite;
        &::after {
            content: '';
            white-space: nowrap;
        }
    }
}
.prologue-wrap { margin-top: 150px; 
    .prologue {
        position: relative;
        height: 270px;
        line-height: 250px;
        font-size: 300px;
        font-weight: bold;
        text-transform: uppercase;
        transition: 1s cubic-bezier(0.74, 0.51, 0.51, 1.26);
        animation: 0.8s introTextAnimation forwards;
        opacity: 0;
        color: $second-color;
        &.effect-dot { width: 960px;
          .inner-dot {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 47px;
            height: 47px;
            border-radius: 100%;
            background: #1c3f61;
            animation: 1.5s dotAnimation forwards;
            animation-delay: 1s;
            transition: 1s cubic-bezier(0.32, 0.18, 0.26, 0.84);
            opacity: 0;
            box-shadow: 1px 1px 1px 0px #151414
          }
        }
        &.effect-blur { animation-delay: 0.4s; }
        &.effect-line { animation-delay: 0.2s;
          &:after {
            content: '';
            position: absolute;
            bottom: -100px;
            left: 570px;
            width: 500px;
            height: 150px;
            border-radius: 100px;
            background: rgb(108, 99, 255, 0.8);
            box-shadow: 1px 1px 1px 0px #151414;
            transition: 1s ease-in-out;
            animation: 0.5s TopBottomAnimation forwards;
            animation-delay: 2s;
            opacity: 0;
          }
        }
    }
}
