header {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 4vw);
    margin: 2vw;
    text-align: center;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
    &.scroll-active { transform: translate(0px, -8.18vw); }
    .logo { position: relative; line-height: 0px; }
    .menu-btn {
        width: 60px;
        height: 60px;
        span {
            display: block;
            width: 40px;
            height: 5px;
            margin: 10px;
            background: #111;
        }
    }
}
.marquee-wrap {
    width: calc(100% - 104px);
    margin: 0px 100px;
    overflow: hidden;
    .marquee {
        display: inline-block;
        width: 33.3333%;
        padding-left: 100%;
        white-space: nowrap;
        animation: 10s marquee linear infinite;
        &::after {
            content: '';
            white-space: nowrap;
        }
    }
}
.prologue-wrap { margin-top: 14vw;
    .prologue {
        position: relative;
        height: 270px;
        line-height: 250px;
        font-size: 300px;
        font-weight: bold;
        text-transform: uppercase;
        transition: 1s cubic-bezier(0.74, 0.51, 0.51, 1.26);
        animation: 0.8s introTextAnimation forwards;
        opacity: 0;
        color: $black-color;
        &.effect-dot { width: 960px;
            .inner-dot {
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 47px;
                height: 47px;
                border-radius: 100%;
                background: $black-color;
                animation: 1.5s dotAnimation forwards;
                animation-delay: 1s;
                transition: 1s cubic-bezier(0.32, 0.18, 0.26, 0.84);
                opacity: 0;
                box-shadow: 1px 1px 1px 0px #151414
            }
        }
        &.effect-blur { animation-delay: 0.4s; }
        &.effect-line { animation-delay: 0.2s;
            &:after {
                content: '';
                position: absolute;
                bottom: -80px;
                left: 570px;
                width: 500px;
                height: 150px;
                border-radius: 100px;
                background: rgb(28, 63, 97, 0.8);
                box-shadow: 1px 1px 1px 0px #151414;
                transition: 1s ease-in-out;
                animation: 0.5s TopBottomAnimation forwards;
                animation-delay: 2s;
                opacity: 0;
            }
        }
    }
}
