// FONT

@font-face {
	font-family: 'logo';
	src: local('logo'),
	url('/font/Futura_XBlk_BT.woff2') format('woff2'),
	url('/font/Futura_XBlk_BT.woff') format('woff');
	unicode-range: U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E, U+0041-005A, U+0061-007A, U+0030-0039;
	font-display: fallback;
}

@font-face {
	font-family: 'font';
	font-weight: '900';
	src: local('font'),
	url('/font/AppleSDGothicNeoH.woff2') format('woff2'),
	url('/font/AppleSDGothicNeoH.woff') format('woff');
	unicode-range: U+AC00-D7A3;
	font-display: fallback;
}

@font-face {
	font-family: 'font';
	font-weight: '800';
	src: local('font'),
	url('/font/AppleSDGothicNeoEB.woff2') format('woff2'),
	url('/font/AppleSDGothicNeoEB.woff') format('woff');
	unicode-range: U+AC00-D7A3;
	font-display: fallback;
}

@font-face {
	font-family: 'font';
	font-weight: '700';
	src: local('font'),
	url('/font/AppleSDGothicNeoB.woff2') format('woff2'),
	url('/font/AppleSDGothicNeoB.woff') format('woff');
	unicode-range: U+AC00-D7A3;
	font-display: fallback;
}

@font-face {
	font-family: 'font';
	font-weight: '500';
	src: local('font'),
	url('/font/AppleSDGothicNeoM.woff2') format('woff2'),
	url('/font/AppleSDGothicNeoM.woff') format('woff');
	unicode-range: U+AC00-D7A3;
	font-display: fallback;
}

@font-face {
	font-family: 'font';
	font-weight: '300';
	src: local('font'),
	url('/font/AppleSDGothicNeoL.woff2') format('woff2'),
	url('/font/AppleSDGothicNeoL.woff') format('woff');
	unicode-range: U+AC00-D7A3;
	font-display: fallback;
}


// VARIABLE

$white-color: #fff;
$black-color: #111;
$primary-color: #0036ff;
$second-color: #ddbe9f;
$bg-color: #f0ede6;

$size-s :14px;
$size-m :18px;
$size-l :24px;

$align-top: top;
$align-middle: middle;
$align-bottom: bottom;
$align-left: left;
$align-center: center;
$align-right: right;

$futura-logo: 'logo';
$font: "font",sans-serif;

$marquee-width: 100vw;
$offset: 20vw;
$move-initial: calc(-25% + $offset);
$move-final: calc(-50% + $offset);
$item-font-size: 10vw;
// MIXIN

@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin end {
	display: flex;
	justify-content: end;
}

@mixin box-sizing($css-selector) {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
}

@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin spritebox($left, $top, $width, $height) {
  background-repeat: no-repeat;
  background-position: $left $top;
  width: $width;
  height: $height;
}

// KEYFRAMES

// 이미지 회전
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

// 메인 텍스트
@keyframes introTextAnimation {
    from {
        opacity: 0;
        transform: translate(-500px, -100px);
    }
    to {
        opacity: 1;
        transform: translate(-80px, 0px);
    }
}
@media screen and ( max-width: 750px ) {
  @keyframes introTextAnimation {
    from {
        opacity: 0;
        transform: translate(-500px, -50px);
    }
    to {
        opacity: 1;
        transform: translate(-5vw, 0px);
    }
  }
}

// 메인 텍스트 dot
@keyframes dotAnimation {
  10% {
    transform: translate(1100px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

// 메인 텍스트 박스 dot
@keyframes TopBottomAnimation {
  from {
    opacity: 0; transition: 1s ease-in-out;
  }
  to {
    opacity: 1; transition: 1s ease-in-out;
  }
}

/* 도트 배지 */
@keyframes dotBadge {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}

/* 텍스트 애니메이션*/
@keyframes text-marquee {
	0% {
		transform: translate3d($move-initial, 0, 0);
	}

	100% {
		transform: translate3d($move-final, 0, 0);
	}
}

/* 마퀴 텍스트 애니메이션 */
@keyframes banner-marquee-01 {
	0% {
		transform: rotate(-20deg) translate3d($move-initial, 0, 0);
	}

	100% {
		transform: rotate(-20deg) translate3d($move-final, 0, 0);

	}
}

@keyframes banner-marquee-02 {
	0% {
		transform: rotate(-8deg) translate3d($move-initial, 0, 0);
	}

	100% {
		transform: rotate(-8deg) translate3d($move-final, 0, 0);

	}
}

@keyframes banner-marquee-03 {
	0% {
		transform: rotate(2deg) translate3d(calc(-25vw), 0, 0);
	}

	100% {
		transform: rotate(2deg) translate3d(calc(10vw), 0, 0);

	}
}



/* 메인 */
.container {
	background: $bg-color;
}
/* cursor */
.cursor {
	position: fixed;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #f5f5f5;
	pointer-events: none;
	mix-blend-mode: difference;
	z-index: 999;
	transition: transform 0.1s;
}
